<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/latout}">
<body>

<div layout:fragment="main_content">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Update employee
            </div>
            <div class="card-body">
                <form method="post" th:action="@{'/employees/update/' +${currentEmployee.getId()}}" th:object="${currentEmployee}">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp" th:field="*{firstName}">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" th:field="*{lastName}">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" aria-describedby="emailHelp" th:field="*{age}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
